@import url('https://fonts.googleapis.com/css2?family=Allan:wght@400;700&family=Itim&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton+SC&display=swap');


@import "tailwindcss";


@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html{
  scroll-behavior: smooth;
}
body {
  padding: 0px;
  margin: 0px;
  color: var(--foreground);
  background: #000e20;
  font-family: Arial, Helvetica, sans-serif;
}
